extends: default

yaml-files:
  - 'package'
  - 'package.include'

rules:
  document-start: disable
  line-length: disable
  comments:
    min-spaces-from-content: 1
  truthy:
    allowed-values: [ 'true', 'yes', 'false', 'no' ]

# vim: ft=yaml
